

<div class="card-body border-top">

    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="1">
        <button ngbNavLink>Forex</button>
        <ng-template ngbNavContent>
          <div class="row">
  
            <div *ngIf="forexPriceResponse">
              <p>Conversion Rate: {{ forexPriceResponse.conversion_rate }}</p>
              <p>Converting : {{ forexPriceResponse.base_code }}</p>
              <p> to: {{ forexPriceResponse.target_code }}</p>
  
            </div>
  
  
            <div class="form-group">
              <span>Minimum 100 pounds should be in pension pot to invest</span><br>
              <ngb-alert *ngIf="apisuccessful" type="info" [dismissible]="true" (closed)="apisuccessful = false">
              Successfully Purchased
              </ngb-alert>
         
              <label for="companySelect">Select Forex:</label>
              <select id="companySelect" class="form-control" [(ngModel)]="selectedForex"
                (change)="onCompanySelect($event.target.value)">
                <option value="" disabled>Select a company</option>
                <option *ngFor="let company of companies" [value]="company.code">{{ company.name }}</option>
              </select>
              <small class="form-text text-muted" *ngIf="selectedForex">Selected Forex Ticker: {{ selectedForex
                }}</small>
            </div>
            <div *ngIf="forexPriceResponse">
              <p>Conversion Rate: {{ forexPriceResponse.conversion_rate }}</p>
              <button (click)="viewPastPerformance()">See past performance</button>
            </div>
            <div class="col-lg-12">
              <div>
                <div class="d-flex flex-column w-100">
                  <apx-chart [series]="performanceChartOptions?.series" [chart]="performanceChartOptions?.chart"
                    [plotOptions]="performanceChartOptions?.plotOptions" [xaxis]="performanceChartOptions?.xaxis"
                    [yaxis]="performanceChartOptions?.yaxis" [grid]="performanceChartOptions?.grid"
                    [stroke]="performanceChartOptions?.stroke" [tooltip]="performanceChartOptions?.tooltip"
                    [dataLabels]="performanceChartOptions?.dataLabels" [legend]="performanceChartOptions?.legend"
                    [colors]="performanceChartOptions?.colors" [markers]="performanceChartOptions?.markers">
                  </apx-chart>
  
                </div>
              </div>
              <div class="card" *ngIf="maxChanges.length > 0">
                <div class="card-body">
                  <h4 class="card-title">Top Losses and Gains</h4>
                  <div class="table-responsive">
                    <table class="table align-middle">
                      <thead>
                        <tr>
                          <th class="text-dark font-medium fs-4">Date</th>
                          <th class="text-dark font-medium fs-4">Change</th>
                          <th class="text-dark font-medium fs-4">Change Amount</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let change of maxChanges">
                          <td>{{ change.date }}</td>
                          <td>{{ change.change }}</td>
                          <td>{{ change.changeAmount }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
  
  
  
  
            </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
          </div>
          <div class="row">
            <div class="col-lg-12">
         
            </div>
          </div>
  
           <div *ngIf="forexPriceResponse && selectedForex"  >
          <p>You are investing in {{this.selectedForex}}</p>
          <p>The Conversion rate  of this Currency is {{this.forexPriceResponse.conversion_rate }}</p>
        </div>
  
        <ngb-alert *ngIf="calculateAlertVisible" type="info" [dismissible]="true" (closed)="calculateAlertVisible = false">
          {{this.calculatenum}}<p>GBP</p>
        </ngb-alert>
        <ngb-alert *ngIf="pensionpotbalance" type="info" [dismissible]="true" (closed)="pensionpotbalance = false">
          {{this.balance}}
        </ngb-alert>
  
          <form [formGroup]="formGroup" *ngIf="showform">
  
        
        
  
  
  
            <div class="form-group">
              <label for="numberOfCurrency">How much Currency you want to buy :{{this.selectedForex}}</label>
              <input type="number" id="numberOfCurrency" class="form-control" formControlName="numberOfCurrency">
              <div *ngIf="formGroup.get('numberOfCurrency')?.invalid && formGroup.get('numberOfCurrency')?.touched"
                class="text-danger">
                required
              </div>
            </div>
  
            <div class="form-group">
              <label for="pensionPotSelect">Select Pension Pot:</label>
              <select id="pensionPotSelect" class="form-control" formControlName="selectedPensionPot">
                <option *ngFor="let pot of pensionPotsWithMoreThan100Pounds" [value]="pot.id">{{ pot.id }}</option>
              </select>
              <div *ngIf="formGroup.get('selectedPensionPot')?.invalid && formGroup.get('selectedPensionPot')?.touched"
                class="text-danger">
                Pension pot selection is required.
              </div>
            </div>
  
            <button class="btn btn-primary" (click)="confirmPurchase(stocksvalue)">Buy Currency</button>
            <button class="btn btn-secondary" [disabled]="!formGroup.get('numberOfCurrency')?.value" (click)="calculate(formGroup.get('numberOfCurrency')?.value,stocksvalue)">Calculate</button>
            <button class="btn btn-secondary" [disabled]="!formGroup.get('selectedPensionPot')?.value" (click)="moneyinthispot(formGroup.get('selectedPensionPot')?.value,stocksvalue)">Money in this Pot</button>
          </form>
  
  
  
        </ng-template>
  
      </li>
      <li [ngbNavItem]="2">
        <button ngbNavLink>Commodities</button>
        <ng-template ngbNavContent>
          <div class="row">
            <div *ngIf="cryptopriceresponse">
              <p>Price: {{ cryptopriceresponse.price }}</p>
              <p>per troy ounce</p>
         
  
            </div>
  
  
            <div class="form-group">
              <span>Minimum 100 pounds should be in pension pot to invest</span><br>
            <ngb-alert *ngIf="apicryptosuccessful" type="info" [dismissible]="true" (closed)="apicryptosuccessful = false">
              Successfully Purchased
              </ngb-alert>
              <label for="companySelect">Select Commodities:</label>
              <select id="companySelect" class="form-control" [(ngModel)]="selectedCrypto"
                (change)="onCommoditySelect($event.target.value)">
                <option value="" disabled>Select a Crypto</option>
                <option *ngFor="let cryptos of crypto" [value]="cryptos.name">{{ cryptos.name }}</option>
              </select>
              <small class="form-text text-muted" *ngIf="selectedCrypto">Selected commodity: {{ selectedCrypto
                }}</small>
            </div>
         
        
  
  
  
  
  
  
  
  
  
  
  
  
  
          </div>
          <div class="row">
            <div class="col-lg-12">
         
            </div>
          </div>
  
           <div *ngIf="cryptopriceresponse && selectedCrypto"  >
          <p>You are investing in {{this.selectedCrypto}}</p>
          <p>The  price of this commmodity is {{this.cryptopriceresponse.price}} per troy ounce</p>
        </div>
  
        <ngb-alert *ngIf="calculateAlertcryptoVisible" type="info" [dismissible]="true" (closed)="calculateAlertcryptoVisible = false">
          {{this.calculatecrypto}}
        </ngb-alert>
        <ngb-alert *ngIf="pensionpotcryptobalance" type="info" [dismissible]="true" (closed)="pensionpotcryptobalance = false">
          {{this.balance}}
        </ngb-alert>
          
          
  
          <form [formGroup]="formCryptoGroup" *ngIf="showcryptoform">
  
        
        
  
  
  
            <div class="form-group">
              <label for="numberOfCurrency">How many troy ounce of this commodity you want to buy:</label>
              <input type="number" id="numberOfCommodities" class="form-control" formControlName="numberOfCommodities">
              <div *ngIf="formCryptoGroup.get('numberOfCommodities')?.invalid && formCryptoGroup.get('numberOfCommodities')?.touched"
                class="text-danger">
                Number of stocks is required.
              </div>
            </div>
  
            <div class="form-group">
              <label for="pensionPotSelect">Select Pension Pot:</label>
              <select id="pensionPotSelect" class="form-control" formControlName="selectedPensionPott">
                <option *ngFor="let pot of pensionPotsWithMoreThan100Pounds" [value]="pot.id">{{ pot.id }}</option>
              </select>
              <div *ngIf="formCryptoGroup.get('selectedPensionPott')?.invalid && formCryptoGroup.get('selectedPensionPott')?.touched"
                class="text-danger">
                Pension pot selection is required.
              </div>
            </div>
  
            <button class="btn btn-primary" (click)="confirmcommodityPurchase(cryptovalue)">Buy Commodity</button>
            <button class="btn btn-secondary" [disabled]="!formCryptoGroup.get('numberOfCommodities')?.value" (click)="calculate(formCryptoGroup .get('numberOfCommodities')?.value,cryptovalue)">Calculate</button>
            <button class="btn btn-secondary" [disabled]="!formCryptoGroup.get('selectedPensionPott')?.value" (click)="moneyinthispot(formCryptoGroup.get('selectedPensionPott')?.value,cryptovalue)">Money in this Pot</button>
          </form>
  
        </ng-template>
      </li>
  
    </ul>
  
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  
  
  </div>