.heading-container {
    text-align: center;
  }
  
  .gap {
    margin-bottom: 4rem; 
  }

  .tutorial-heading {
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  .slider-container {
    max-width: 800px;
    margin: 20px auto 0;
  }
  
  
  
