<div class="heading-container">
    <h1>Tutorial to Help You Invest Effectively</h1>
  </div>
  
  <div class="gap"></div>
  
  <div class="stock-investing-tutorial">
    <h3 class="tutorial-heading">Stock Investing Tutorial</h3>
    
    <div class="slider-container">
      <ng-image-slider [images]="stockimages"></ng-image-slider>
    </div>
  </div>

  <div class="stock-investing-tutorial">
    <h3 class="tutorial-heading">Crypto Investing Tutorial</h3>
    
    <div class="slider-container">
      <ng-image-slider [images]="cryptoimages"></ng-image-slider>
    </div>
  </div>

  <div class="stock-investing-tutorial">
    <h3 class="tutorial-heading">Forex Investing Tutorial</h3>
    
    <div class="slider-container">
      <ng-image-slider [images]="foreximages"></ng-image-slider>
    </div>
  </div>

  <div class="stock-investing-tutorial">
    <h3 class="tutorial-heading">Commodity Investing Tutorial</h3>
    
    <div class="slider-container">
      <ng-image-slider [images]="comimages"></ng-image-slider>
    </div>
  </div>
  