<div class="container">
    <h2>Defined Contribution Options</h2>
    <div class="row">


        <div class="col-lg-3 col-md-6">
            <div class="card">
                <img class="card-img-top img-responsive" src="assets/stock.jpg" alt="Stocks Image">
                <div class="card-body">
                    <h4 class="card-title">Mega Savings</h4>
                    <p class="card-text">Offers investments in stocks and crypto.</p>
                    <button class="btn btn-primary btn-danger" style="margin-right: 10px;" (click)="megasavingFunction()">Explore</button>
                </div>
            </div>
        </div>



        <div class="col-lg-3 col-md-6">
            <div class="card">
                <img class="card-img-top img-responsive" src="assets/gold.jpg" alt="Forex Image">
                <div class="card-body">
                    <h4 class="card-title">Dream Fund</h4>
                    <p class="card-text">Offers investments in stocks and commodities.</p>
                    <button class="btn btn-primary btn-danger" style="margin-right: 10px;" (click)="DreamFundFunction()"> Explore</button>
                </div>
            </div>
        </div>



 





    </div>
</div>


